body {
	width: 100%;
	margin: 0 auto;
}

h1 {
	text-align: center;
}

h1#people {
	color: blue;
}

h1#index {
	color: red;
}

h1#survey {
	color: green;
}

h1#contact {
	color: black;
}

div.people img {
	width: 400px;
	height: 600px;
}

div.people {
	margin: 0 auto;
	width: auto;
	text-align: center;
}

div.info {
	border-style: groove;
	background: black;
	position: fixed;
	width: 100%;
	height: auto;
	bottom: 20px;
}

div#contacts {
	margin: 0 auto;
	width: 80%;
}

div.contact {
	border-style: ridge;
	border-width: 10px;
	float: left;
	width: 354px;
	padding: 5px;
}

div#form {
	margin: 0 auto;
	width: 80%;
	height: 500px;
	text-align: center;
}

div#form input {
	margin-top: 5px;
	margin-bottom: 5px;
}

table#query {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

div#query {
	position: fixed;
	bottom: 20px;
	left: 0;
	text-align: center;
	min-height: 70px;
	background-color: aqua;
	width: 100%;
}

div#cur_time {
	position: fixed;
	bottom: 30px;
	width: 100%;
	text-align: center;
	background-color: aqua;
	font-size: xx-large;
}

div.container {
    width: 50em;
    height: 45em;
    margin: 0 auto;
    overflow: hidden;
    background: white;
    position: relative;
    box-sizing: border-box;
    text-align: center;
}

p.marquee {
    position: relative;
    box-sizing: border-box;
    animation: marquee 15s linear infinite;
    font-family: monospace;
    font-size: xx-large;
}

p.marquee:hover {
    animation-play-state: paused;
}

p.marquee b{
	font-size: 32pt;
}

/* Make it move! */
@keyframes marquee {
    0%   { transform: translate(0, 100%); }
    100% { transform: translate(0, -100%); }

}

header {
	background-color: silver;
	position: absolute;
	width: 100%;
	top: 0;
}

div#sign_up{
	float:right;
}

form#login_form{
	float: left;
}



footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: aqua;
}


#centerpoint {
    top: 50%;
    left: 50%;
    position: absolute;
}

div#msg {
	background-color: aqua;
    position: fixed;
top: 50%;
left: 50%;
width: 600px;
margin-left: -300px; /* negative half of width */
height: 100px;
margin-top: -50px; /* negative half of height */
font-size: xx-large;
text-align: center;
}
